MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/hotel-booking?retryWrites=true&w=majority

CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
CLERK_WEBHOOK_SECRET=whsec_xxx

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
